.form-navbar {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 100;
}

.form-navbar__left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-navbar__logo {
  height: 58px;
}

.form-navbar__title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
}

.form-navbar__right {
  display: flex;
  gap: 20px;
}

.form-navbar__link {
  text-decoration: none;
  color: #444;
  font-size: 1rem;
  transition: 0.2s;
}

.form-navbar__link:hover {
  color: #007bff;
}


.form-navbar__button {
  font-size: 14px;
  padding: 6px 10px;
  background: none;
  border: none;
  color: #1a237e;
  cursor: pointer;
  margin-left: 10px;
}

.form-navbar__button:hover {
  text-decoration: underline;
}