.sidebar {
  width: 240px;
  height: 100vh;
  background: #1c1c2b;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
